:root {
  --vp-c-brand-1: #36d48a;
  --vp-c-brand-2: #20a874;
  --vp-button-brand-bg: #238d5c;
}

.gradient-title {
  background: linear-gradient(90deg, #42d372, #445ce4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html:not(.dark) .DocSearch-Button {
  background-color: #e6ebec !important;
}

html.dark .DocSearch-Button {
  background-color: rgb(18, 18, 19) !important;
}
